
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: Poppins;
}
body {
    overflow-x: hidden!important;
  }

  
@media screen and (max-width: 1200px) {
    #chagas-card-boneco-ranking {
        top: -42%!important;
    }
    .chagas-lugar-card {
        left: 25%!important;
    }
    .chagas-nome-ranking {
        margin-left: 53%!important;
        margin-top: -19%!important;
    }
    .chagas-nome-ranking {
        top: -52%!important;
    }
}

@media screen and (max-width: 1000px) {
    .chagas-ranking {
        margin-top: -20%!important;
    margin-left: 60%!important;
    }
    .chagas-lugar-card {
        top: -71%!important;
        margin-left: 10%!important;    
    }
    .chagas-card-qntd {
        margin-left: -21%!important;
        text-align: center!important;
        font-size: 8px!important;
    }
    .chagas-nome-ranking {
        top: -65%!important;
        left: 2px!important;
    }
}

@media screen and (max-width: 800px) {
    #chagas-boneco {
        margin-left: -10%!important;
    }
    .chagas-ranking {
        display: none!important;
    }
    .chagas-nome-ranking {
        display: none!important;
    }
    .chagas-elementos-card-boneco {
        width: 100%!important;
    }
    .chagas-lugar-card {
        left: -4%!important;
        }
        
    #chagas-card-boneco-ranking {
    top: -42%!important;
    left: 19%!important;
    }
}


.chagas-barra-header {
    background-color: rgba(204, 204, 204, 0.075)!important;
    border-bottom: 4px solid #c9a11e!important;
    color: #c9a11e!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none!important;
}

.chagas-barra-header > .bx {
    background-color: #c9a11e;
    padding: 3px;
    color: white;
}

.chagas-banner {
    height: 130px;
    background: url(/images/header.png);
    background-position: center;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 30%);
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat!important;
    background-size: cover;
}
.chagas-banner:before {
    background-image: url(/images/pattern.png);
    background-color: #b0941a8c;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.chagas-header {
    background-color: #212121;
    height: 60px;
    width: 100%;
    display: flex;
    border-top: 5px solid #c9a11e;
}
.chagas-brasao-header img {
    max-width: 150px;
    display: flex;
}
body {
    background: #f1f1f1 url(/images/fundo.png)!important;
}
.chagas-links-base {
    display: flex;
    margin: 12px;
}
.chagas-link {
    color: #fff!important;
    font-size: 25px!important;
}

li.chagas-link {
    list-style-type: none;
}
.chagas-button-lateral {
    padding: 5px!important;
    background-color: transparent!important;
    border: none!important;
    color: #fff!important;
    display: flex!important;
}
.chagas-button-lateral:hover {
    background-color: #b7b6b637!important;
}
.chagas-right {
    position: absolute;
    right: 30px;
    margin-top: -5px
}

.chagas-padding-dropbown {
    padding: 5px!important;
}

.chagas-fundo-verde {
    background: url(/images/fundo.png) #c9a11e!important;
    height: 90px;
}
.chagas-avatar-habbo {
    background-color: #c9a11e;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 7px;
    border: 2px solid #00000041;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chagas-avatar-habbo img {
    top: -14%;
    max-width: 80px;
    max-height: 100px;
    position: absolute;
    margin-left: -2px;
}

.chagas-aviso {
    background-color: #fff!important;
    border-radius: 0px!important;
    border-left: 4px solid!important;
}

.chagas-aviso > .bx {
    background-color: #b02a37;
    padding: 3px;
    color: white;
    border-radius: 5px;
}

.chagas-sucesso-bx > .bx {
    background-color: #0d490f;
}
.chagas-avatar {
  width: 70px;
  height: 60px;
  background: url(/images/fundo.png) #c9a11e!important;
  border-radius: 5px;
}

.chagas-text-user {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    color: #fff!important;
    background-color: #c9a11e!important;
}

.chagas-fundo-dropbown > .dropdown-menu {
    background-color: transparent!important;
    border: none;
}

.chagas-item-dropdown:hover {
background-color: #2121210a;
}

.chagas-icon-href-dropdown {
    padding: 5px;
    background-color: #212121;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.carousel-item > img {
    max-height: 200px;
}

#chagas-boneco {
    width: 100%;
    height: 75px;
    margin-top: -15px;
    margin-left: 2.5px;
}

.chagas-info {
    background-color: #212121;
    height: 35px;
    width: 100%;
    margin-top: 8px;
    color: white;
    padding: 3px;
}

.chagas-ranking {
    width: 100%;
    height: 100%;
}

.chagas-ranking-icon {
    background: url(/images/mensagens.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

.chagas-ranking {
    display: inline-block;
    background-color: #c9a11e;
    padding: 5px;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 2px solid #a18117;
    margin-top: -15%;
    margin-left: 70%;
}

.chagas-text-ranking {
    margin-top: -17%;
    margin-left: 10%;
    font-weight: 500;
    font-family: Poppins;
    color: #c9a11e;
}

.chagas-card-ranking {
    background-color: #fff;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    margin-bottom: 10px;
}

#chagas-card-boneco-ranking {
    height: 84px;
    width: 70px;
    position: relative;
    top: -40%;
}

.chagas-elementos-card-boneco {
    background-color: #c9a11e;
    width: 70px;
    height: 59px;
}

.chagas-lugar-card {
    background-color: gold;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    color: #0000004f;
    font-weight: 500;
    position: relative;
    top: -70%;
    left: 22%;
    text-align: center;
    border: 1px solid #0000003d;
    font-size: 14px;
    font-family: Poppins;
}

.chagas-nome-ranking {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    margin-top: -27%;
    margin-left: 48%;
}

.chagas-link > a {
    text-decoration: none!important;
}

.chagas-card-qntd {
    font-size: 11px;
    color: #00000080;
    margin-left: -10%;
}

.chagas-bronze {
    background-color: #9b6f43!important;
}

.chagas-prata {
    background-color: #b3b3b3!important;
}

.chagas-vazio {
    background-color: transparent!important;
    border: 0!important;
}

.chagas-header-enfase {
    background-color: #fbfbfb!important;
    border: 1px solid #ccc;
}

#main-menu-btn {
    color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
  }
  
  #main-menu-btn:hover,
  .notifications:hover,
  .logged-user:hover { background-color: transparent; }
  
  #main-menu {
    border-top: 50px solid #c9a11e;
    border-bottom: 4px solid #c9a11e;
    width: 250px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    background: #ffffff url(/images/fundo.png);
    z-index: 1100;
    transition: all .16s ease;
    overflow: auto;
    margin-left: -43.5px;
  }
  
  #main-menu.hidden {
    transform: translate3d(-100%,0,0);
    opacity: 0;
    pointer-events: none;
  }
  
  .main-menu-headline {
    color: #212121;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    padding: 17px 0 0 0;
    text-align: center;
    text-overflow: ellipsis;
  }
  
  .main-menu-headline #logo-text { padding: 0 18%; }
  
  #main-menu ul,
  #main-menu ul li,
  #main-menu ul li a,
  #main-menu ul .header-menu,
  #main-user-menu ul,
  #main-user-menu ul li,
  #main-user-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #main-menu > ul > li > a,
  #main-menu ul .header-menu,
  #main-user-menu ul a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  
  #main-user-menu ul a { padding: 16px 10px!important; }
  
  #main-menu ul .header-menu {
    padding-left: 22px;
    font-weight: bold;
    color: #212121;
    font-size: 15px;
  }
  
  #main-menu > ul > li > a:hover { color: rgb(59, 59, 59); }
  
  #main-menu > ul > li > a i { margin: -4px 16px -4px 0; }
  
  #main-menu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #5b5b5b;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  #main-menu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #5b5b5b;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  #main-menu ul > li.has-sub.open > a:after,
  #main-menu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #main-menu ul ul li a {
    padding: 20px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    background: #cccccc3b;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
  }
  
  #main-menu ul ul li a:hover { color: rgb(59, 59, 59);  }
  
  #main-menu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #ddd;
  }
  
  #main-menu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #ddd;
  }
  
  #main-menu ul ul ul li a {
    padding-left: 32px;
    background: #11171a;
  }
  
  .has-sub.open ul.li-border {
    display: inherit!important;
  }
  
  .iconpme {
    background-color: #6698150a;
    border: 2px solid #c9a11e;
      height: 30px;
      width: 30px;
      padding: 3px;
      color: #c9a11e;
      font-size: 20px;
  }
  
  #dimmer {
    background-color: rgba(0,0,0,0.44);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: all .16s ease;
  }
  
  #dimmer.hidden {
    opacity: 0;
    pointer-events: none;
  }

  #logo-text {
    display: block;
    float: left;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Poppins, sans-serif;
    color: #494949;
}

#logo-text > span {
    font-weight: 600;
    color: #c9a11e;
}

#logo-text {
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
}

.chagas-novo-membro {
    background: url(/images/novo.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.chagas-right-especial {
    right: 70.1px!important;
    margin-top: 0;
}

.chagas-fonte {
font-family: Poppins;
font-size: 14px;
}

.chagas-footer {
    background:  #c9a11e url(/images/fundo.png);
    height: max-content;
    border-top: 3px solid #c9a11e;
}

.chagas-card-footer {
    background-color: #21212137;
    padding: 10px;
    font-family: Poppins;
    font-weight: 200;
    color: white;
    font-size: 13px;
    height: calc(100%-700px);
}

.chagas-title-footer {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.chagas-align-justify {
    text-align: justify;
    padding-top: 25px!important;
    padding-right: 36px!important;
}
.chagas-creditos {
    background-color: #2121217b;
    color: white;
    font-family: Poppins;
    height: max-content;
    padding-top: 12px;
    padding-bottom: 5px;
    border-top: 3px solid #e6b512;
}

.chagas-verde-linha {
    background-color: #c9a11e!important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

::-webkit-scrollbar-thumb:active {
    background: #212121;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.chagas-width-button {
    width: 60px!important;
}

.chagas-avatar-requerimentos {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EEEEEE;
    width: 132px;
    height: 132px;
    border-radius: 100%;
    box-shadow: inset rgba(255, 255, 255, 1.0) 0px 0px 0px 4px;
    background-position: center;
    background-size: cover;
    image-rendering: auto;
}

.chagas-perfil-requerimentos-nome > a {
color: #212121;
text-decoration: none;
font-weight: 300;
font-size: 14px;
}

.chagas-perfil-requeriimentos-messages {
margin-top: 20px;
color: #A1A2A6;
font-size: 12px;
text-align: center;
font-weight: 500;
margin-top: -1px;
}

.chagas-perfil-requeriimentos-messages > .bx {
    position: relative;
    top: 1px;
    padding-right: 5px;
    color: #c9a11e;
    font-size: 15px;
}

.chagas-requerimentos-inicio {
    border: 1px solid #cccccc5e;
    position: relative;
    margin-left: 35px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 31px;
    line-height: 31px;
    width: auto;
    float: left;
    background-color: #FFFFFF;
    border-radius: 31px;
    font-size: 12px;
    font-weight: 500;
    color: #A3A2A2;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 7px;
}

.chagas-requerimentos-boneco-inicio {
    position: absolute;
    left: -43px;
    background-color: #EDF0F1;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: 1px -6px;
    border-radius: 100%;
}

.chagas-margin-requerimentos {
    margin-top: 10px;
}

.chagas-inicio-alteracoes > p {
    margin-left: 5px;
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #c9a11e;
}

.chagas-inicio-alteracoes {
    max-height: 50px;
}

.chagas-inicio-alteracoes > p > span {
    font-size: 12px;
    color: white;
    font-weight: 300;
}

.chagas-display {
    display: inline;
}

.chagas-atualizacao {
width: 100%;
height: max-content;
background-color:rgba(111, 255, 0, 0.445);
padding: 15px;
color: #03930d;
border-radius: 5px;
border-left: 5px solid rgb(68, 158, 12);
border-bottom: 5px solid #21212114;
}
.chagas-atualizacao > .bx {
    font-size: 20px;
}

.chagas-botao {
    width: 100%;
    border-bottom: 2px solid #c9a11e!important;
    border: 0;
    padding: 5px;
    color: #745a03;
    margin-bottom: 4px;
    background-color: #f2e3b3;
}

.chagas-botao-dark {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.208)!important;
    border: 0;
    padding: 5px;
    color: rgb(7, 7, 7);
    margin-bottom: 4px;
    background-color: #00000025;
}

.chagas-caixa-listagens {
border: 1.5px solid #ccc;
width: 400px;
height: 40px;
padding: 5px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom: 3px solid #c9a11e;
}

.chagas-caixa-listagens > .row > .col-3 {
    background: url(/images/fundo.png) #c9a11e;
    margin-left: 6px;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
margin-top: -6px;
color: white;
font-size: 22px;
}

@keyframes chagas-rolagem-req {
    0% {
        top: 250px;
    }

    100% {
        top: -700px;
    }
}

.chagas-rolagem {
    position: relative;
    -webkit-animation-name: chagas-rolagem-req;
    -moz-animation-name: chagas-rolagem-req;
    -o-animation-name: chagas-rolagem-req;
    animation-name: chagas-rolagem-req;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.chagas-perfil-caixa-user {
 padding: 10px;
 background: white;
 border-left: 8px solid #212121;
 color: #212121;
 text-transform: uppercase;
 font-family: Poppins;
}

#chagas-emblema {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    margin: 4px;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 33px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 27px;
            left: 52%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-badge {
                left: 51.5%!important;

            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

@media (max-width: 568px){
    ul.timeline:before {
        display:none;
    }

    ul.timeline>li>.timeline-panel, ul.timeline>li>.timeline-panel.timeline-inverted {
        width: 100%;
        border:none !important;
    }

    ul.timeline>li>.timeline-badge {
        display:none;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        display:none;
    }

    ul.timeline>li>.timeline-panel:after {
        display:none;
    }
}